node_modules/
.next/
dist/
build/
.turbo/
coverage/

.env
.env.local
.env.staging
.env.prod

*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp

# Docker volumes
postgres_data/
redis_data/
grafana_data/
es_data/

# Certbot
infra/docker/certbot/conf/
infra/docker/certbot/www/
cloudflare.ini

# hg
.hgignore
.hg/

# git
.git